body {
	margin: 0px auto;
	overflow: hidden;
}
.controller.xbox {
    background: url("https://raw.githubusercontent.com/Kataribe-Koumuten/gpv-ddr/refs/heads/main/img/base.png");
    background-repeat: no-repeat ;
    background-position : center center ;
    height: 300px;
    width: 74px;
}
