body {
	margin: 0px auto;
	overflow: hidden;
}
.controller.xbox {
    background: url("https://kataribe-koumuten.github.io/gpv-ddr/img/base.png");
    background-repeat: no-repeat ;
    background-position : center center ;
    height: 74px;
    width: 300px;
}

.xbox .triggers {
    display:none;
}

.xbox .touchpad {
    display:none;
}

.xbox .quadrant {
    display:none;
}

.xbox .meta {
    display:none;
}

.xbox .arrows {
    display:none;
}

.xbox .sticks {
    display:none;
}

.xbox .wheels {
    display:none;
}

.xbox .dpad {
    display:none;
}

.xbox .fstick {
    display:none;
}

.xbox .abxy {
    position:absolute;
    top:0;
    left:0;
    height: 74px;
    width: 300px;
}
.xbox .bumpers {
    position:absolute;
    top:0;
    left:0;
    height: 74px;
    width: 300px;
}

.xbox .button {
    position:absolute;
    background:unset;
    top:0;
    left:0;
    height: 74px;
    width: 300px;
    z-index:100;
}
.xbox .bumper {
    position:absolute;
    background:unset;
    top:0;
    left:0;
    height: 74px;
    width: 300px;
    z-index:100;
}
.xbox .right.bumper.pressed {
    background: url("https://kataribe-koumuten.github.io/gpv-ddr/img/left.png");
    background-repeat: no-repeat ;
    background-position : center center ;
}
.xbox .left.bumper.pressed {
    background: url("https://kataribe-koumuten.github.io/gpv-ddr/img/right.png");
    background-repeat: no-repeat ;
    background-position : center center ;
}
.xbox .x.button.pressed {
    background: url("https://kataribe-koumuten.github.io/gpv-ddr/img/up.png");
    background-repeat: no-repeat ;
    background-position : center center;
}
.xbox .y.button.pressed {
    background: url("https://kataribe-koumuten.github.io/gpv-ddr/img/down.png");
    background-repeat: no-repeat ;
    background-position : center center ;
}
